Работа с признаками и построение моделей/03 Функции потерь и оптимизация/02_Gradient.ipynb
Работа с признаками и построение моделей/03 Функции потерь и оптимизация/05_LogisticRegression.ipynb
Работа с признаками и построение моделей/03 Функции потерь и оптимизация/Задание_5.ipynb
Работа с признаками и построение моделей/03 Функции потерь и оптимизация/FEML3_gradient_descent_Ponomareva.ipynb
